<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.tavi.app"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Tavi</name>

    <description>Tavi application</description>

    <author href="http://tavi-delivery.com" email="omereemy@outlook.com">
        Omer Reemy
    </author>
    <icon src="res/tavi.png" />
    

</widget>
